Source: php-tarantool
Priority: optional
Maintainer: Dmitry E. Oboukhov <unera@debian.org>
Build-Depends: debhelper (>= 8),
               php7.0-dev | php-all-dev,
               pkg-config
Section: php
Standards-Version: 3.9.4
Homepage: https://github.com/tarantool/tarantool-php
VCS-Browser: https://github.com/tarantool/tarantool-php
VCS-Git: git://github.com/tarantool/tarantool-php.git

Package: php7.0-tarantool
Architecture: any
Priority: optional
Conflicts: libtarantool-php
Replaces: libtarantool-php
Depends: ${php:Depends}, ${misc:Depends}, ${shlibs:Depends}
Suggests: tarantool
Description: PECL PHP driver for Tarantool/Box
 Tarantool is an in-memory database and Lua application server.
 This package provides PECL PHP driver for Tarantool/Box.

