#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

DEB_PACKAGE := $(strip $(shell egrep '^Package: ' debian/control | \
	cut -f 2 -d ':'))

phpversion = $(shell echo $(DEB_PACKAGE) | \
	sed -e 's/^php\([0-9.]\+\)-tarantool$$/\1/')
phpapi	= $(shell php-config$(phpversion) --phpapi)
version = $(shell dpkg-parsechangelog \
	|grep ^Version|awk '{print $$2}'|sed 's/-.*//')

makebuilddir/php$(phpversion)-tarantool::
	phpize
	./configure
	make
	echo "php:Depends=phpapi-$(phpapi)" > debian/php$(phpversion)-tarantool.substvars

install/php$(phpversion)-tarantool::
	install -m 0755 -d debian/php$(phpversion)-tarantool/usr/lib/php/$(phpapi)/
	install -m 0755 -d debian/php$(phpversion)-tarantool/etc/php/$(phpversion)/mods-available/
	install -m 0755 modules/tarantool.so \
		debian/php$(phpversion)-tarantool/usr/lib/php/$(phpapi)/
	echo extension=tarantool.so \
		> debian/php$(phpversion)-tarantool/etc/php/$(phpversion)/mods-available/tarantool.ini
	# Enable the extension.
	install -m 0755 -d debian/php$(phpversion)-tarantool/etc/php/$(phpversion)/cli/conf.d
	ln -s /etc/php/$(phpversion)/mods-available/tarantool.ini \
		debian/php$(phpversion)-tarantool/etc/php/$(phpversion)/cli/conf.d/50-tarantool.ini

clean::
	phpize --clean
	rm -f debian/debhelper.log
	rm -f debian/*.substvars
	rm -f src/tarantool.lo
	rm -fr src/.libs



tarball: clean
	cd .. \
	&& tar \
		--exclude=debian \
		--exclude=.git \
		-czvf php-tarantool_$(version).orig.tar.gz \
		php-tarantool-$(version)

